.order-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid orange;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 50%;
}

.order-image {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
.image-container {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
