header {
  background-color: #f9a300;
  color: white;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

header h1 {
  margin: 0;
}

header nav {
  margin-top: 10px;
}

header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}
.logo {
  height: 50px;
}
